<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VueJs">
    <meta name="author" content="Duong Ha Duc Anh">
    <title>String Test</title>
    <script src="/framework/js/vue.global.js"></script>
</head>
<body>
    <h1>String Test</h1>
    <div id="app">
        <label for="nameInput">Please enter your name:</label>
        <input id="nameInput" v-model="strName" type="text">
        <p v-if="strName.toLowerCase() === 'Duc Anh'.toLowerCase()">Awesome name!</p>
        <p v-else-if="strName !== ''">{{ strName }} is not my name</p>
    </div>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    strName: ''
                };
            }
        }).mount('#app');
    </script>
</body>
</html>
